 <h1>Your Chirp Feed</h1>

<% @chirps.each do |chirp| %>
  <big><%= chirp.user.first_name %> <%= chirp.user.last_name %></big>
  <small class="muted"><%= chirp.formatted_time %></small>
  <p><%= link_to("#{chirp.content}", "/chirps/#{chirp.id}") %></p>
<% end %>