<h1><marquee scrollamount="5" direction="right" behavior="alternate">What do you wanna blast out on this ol' internet box here?</marquee></h1>
<h2><marquee scrollamount="6" direction="right" behavior="alternate"> pls no nudes, we're not that kind of operation</marquee></h2>

<%= form_tag('/chirps', method: :post) do %>
<!--   <label for="content">Shout your message into the deep and insatiable internet void</label>
  <textarea name="content" id="content"></textarea>
  <input type="submit" value="blast it out there, my dude"> -->
  <%= label_tag(:content, 'Shout into the nameless void, and see if it responds:') %>
  <br>
  <%= text_area_tag(:content, nil, size: '20x10') %>
  <br>
  <%= submit_tag("blast it out there, my dude") %>

<% end %>